In [1]:
import pandas as pd
import numpy as np

In [3]:
train = pd.read_csv('E:/thcborges/OneDrive/Cursos/Udemy/machine-learning/kNN/train.csv')
test = pd.read_csv('E:/thcborges/OneDrive/Cursos/Udemy/machine-learning/kNN/test.csv')

In [4]:
train.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>shoe size</th>
      <th>height</th>
      <th>class</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>8.518110</td>
      <td>73.029460</td>
      <td>seniors</td>
    </tr>
    <tr>
      <th>1</th>
      <td>10.301527</td>
      <td>68.959677</td>
      <td>seniors</td>
    </tr>
    <tr>
      <th>2</th>
      <td>7.386575</td>
      <td>73.558042</td>
      <td>seniors</td>
    </tr>
    <tr>
      <th>3</th>
      <td>9.477281</td>
      <td>68.195558</td>
      <td>seniors</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10.910389</td>
      <td>75.144672</td>
      <td>seniors</td>
    </tr>
  </tbody>
</table>
</div>

In [5]:
test.head()

<div>
<style>
    .dataframe thead tr:only-child th {
        text-align: right;
    }

    .dataframe thead th {
        text-align: left;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>shoe size</th>
      <th>height</th>
      <th>class</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>12.985509</td>
      <td>66.632266</td>
      <td>seniors</td>
    </tr>
    <tr>
      <th>1</th>
      <td>9.957683</td>
      <td>70.057887</td>
      <td>seniors</td>
    </tr>
    <tr>
      <th>2</th>
      <td>10.366656</td>
      <td>67.945519</td>
      <td>seniors</td>
    </tr>
    <tr>
      <th>3</th>
      <td>10.484072</td>
      <td>74.846184</td>
      <td>seniors</td>
    </tr>
    <tr>
      <th>4</th>
      <td>10.273374</td>
      <td>66.690172</td>
      <td>seniors</td>
    </tr>
  </tbody>
</table>
</div>

In [8]:
from sklearn.neighbors import KNeighborsClassifier
cols = ['shoe size', 'height']
cols2 = ['class']
x_train = train.as_matrix(cols)
y_train = train.as_matrix(cols2)
x_test = test.as_matrix(cols)
y_test = test.as_matrix(cols2)

In [9]:
knn = KNeighborsClassifier(n_neighbors=3, weights='distance')
knn.fit(x_train, y_train.ravel())
output = knn.predict(x_test)

In [11]:
print(knn.predict([x_test[0]]))
print(y_test[0])

['seniors']
['seniors']

In [12]:
correct = 0.0
for i in range(len(output)):
    if y_test[i][0] == output[i]:
        correct += 1

100 * correct / len(output)

99.33333333333333